Source: pi-bluetooth
Section: misc
Priority: optional
Maintainer: P. Yavitz <pyavitz@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.3.0
Homepage: https://github.com/pyavitz/pi-bluetooth

Package: pi-bluetooth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bluez, raspberrypi-sys-mods
Description: Raspberry Pi bluetooth
 Loads BCM43430A1 firmware on boot
